.Question {
  margin-top: 60px;
  margin-bottom: 60px;

  .hear-again-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #dcd;
  }

  .hear-loop-again-btn {
    margin-bottom: 120px !important;
  }

  .identify-heading {
    font-size: 3rem !important;
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }

  .play-again {
    color: green;
    // &:hover {
    //   cursor: not-allowed;
    //   cursor: pointer;
    // }
  }
}
