.answer-btns {
  display: flex !important;
  justify-content: space-between !important;
}

@media screen and (max-width: 1200px) {
  .answer-btns {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .answer-btns {
    flex-direction: column;
    align-items: center;
  }
}
